version: '3.9'

services:
  delete-patient-and-organization:
    image: node:18-alpine
    networks:
      openhim:
    deploy:
      restart_policy:
        condition: none
      placement:
        constraints:
          - "node.labels.name==node-1"
    command: sh -c "cd /app && npm run 2:finalize"
    volumes:
      - ../:/app
    environment:
      OUTPUT_PATH: './output'
      PATIENT_ID_FILENAME: 'patient-ids.csv'
      FAILED_PATIENT_FILENAME: 'failed-patients.csv'
      FACILITY_ID: 'placeholder'
      ELASTIC_URL: 'http://elasticsearch_analytics-datastore-elastic-search-01:9200'
      ELASTIC_PASSWORD: 'dev_password_only'
      HAPI_FHIR_URL: 'hapi-fhir'
      HAPI_FHIR_PORT: 8080
      MAX_RETIRES: 10
      AXIOS_TIMEOUT: 300000

networks:
  hapi-fhir:
    name: hapi-fhir_public
    external: true
  elastic:
    name: elastic_public
    external: true
